

/*

  Denne filen er ikke med i scriptet enda, krever mer jobb i Javascript filen min.
   - Har planer om å dele opp script filen min for hvert view.
   
   */

#backBtnMultiplicationTable{
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
#containerDivMultiplicationTablePage {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    margin:auto;
    
}
#buttonDivMultiplicationTablePage {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
    padding: 10px;
}
#showMathDivMultiplicationTablePage {
    border: 2px solid orange;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: lightgrey;
}
.multiplyBtns{
    width:100px;
    height: 55px;
    border: 3px solid orange;
    font-weight: bold;
    background-color: darkgrey;
    cursor: pointer;
}
#resetBtnMultiplicationTablePage {
    background-color: red;
    user-select: none;
    cursor: pointer;

}
.printOutDivMultiplicationTablePage{
    margin:15px;
}